<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="Extensionless SPA" />
                <rule name="Extensionless SPA" enabled="false">
                    <match url=".*\.[\d\w]+$" negate="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <serverVariables />
                    <action type="Rewrite" url="/" />
                </rule>
                <rule name="Extensionless SPA - Subdirectory">
                    <match url=".*\.[\d\w]+$" negate="true" />
                    <action type="Rewrite" url="/dashboard/index.html" />
                </rule>
            </rules>
        </rewrite>
        <caching>
            <profiles>
                <remove extension=".js" />
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="00:00:30" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
